.css-17nf4cr-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
    
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    box-shadow: none !important;
    background-color: white !important;
}

.darkNavBar {
    box-shadow: none !important;
    background-color: #23272F !important;
    color: white !important;
}



.css-1t6c9ts {
    justify-content: flex-end !important;
}
